<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @word_count %></h2>

<h2>Vowels: <%= @vowels %></h2>

<h2>Consonants: <%= @const %></h2>

<h2>Most Common Letter: <%= @most_used_letter.upcase %>, used <%= @times %> times</h2>
